body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.highscore {
    font-size: 30px;
    top: 10px;
    left: 10px;
}

.time {
    font-size: 30px;
    top: 10px;
    right: 10px;
}

section {
    text-align: center;
}

.title {
    font-size: 50px;
}

.subtitle {
    font-size: 40px;
}

.start {
    font-size: 40px;
    background-color: blue;
    border: 5px solid purple;
    color: white;
    border-radius: 5px;
    text-align: center;
}

.button-1, 
.button-2, 
.button-3, 
.button-4 {
    font-size: 40px;
    background-color: blue;
    border: 5px solid purple;
    color: white;
    border-radius: 5px;
    display: none;
    width: 75%;
    text-align: center;
}

.highscore-list {
    text-align: center;
    display: none;
    font-size: 30px;
}

.back {
    font-size: 30px;
    top: 10px;
    left: 10px;
    display: none;
}